/*
This contains the main styles for the app

author: Emmanuel Joshua;
version: 1.0.0;
date created: 19th June 2020;
name: tasky;

#############################################################
Table of contents
1. Basics
2. Layout
3. Navigation
4. Responsiveness
5. Miscellaneous
##############################################################
*/


/* 1. Basics
Mostly contains general and high-level styles for the app, e.g colors, fonts, etc.
*/

:root{
	--main: #29032C;
	--light-grey: #ddd;
	--light-pink: #F4A0FA;
	--bg: #29032C34;
}
html,
body{
	padding: 0px;
	margin:  0px;
	/* set default font size for relative referencing */
	font-size: 16px;  
}

body{
	background-color: var(--bg);
	font-family: "Roboto", Arial, Serif;
	line-height: 1.5em;
	position: relative;
}


/* 2. Layout
** 2.1 -- Header
*/
.main-header{
	width: 98%;
	padding: 0.5% 1%;
	background-color: var(--main);
	display: flex;
	flex-direction: row;
	color: var(--light-grey);
	border-bottom: 2px solid var(--light-pink);
	height: 50px;
	position: fixed;
	top: 0px;
	z-index: 200;
}

.top-header{
	flex-basis: 20%;
}

.top-header:hover{
	cursor: pointer;
}
.nav-icon{
	font-size: 2em;
	align-self: center;
}

.nav-icon i:hover{
	color: var(--light-pink);
	cursor: pointer;
}
.app-title{
	font-size: 2em;
	text-transform: uppercase;
	align-self: center;
}

/* 2.2 headings
** styling for h1 - h4
*/
h1{
	font-size: 2em;
	text-transform: uppercase;
	color: var(--main);
	font-weight: bold;
}
h2{
	font-size: 1.8em;
	font-weight: bold;
}

/* 2.3 Main section for all pages */
.main-wrapper{
	width: 980px;
	padding:60px 10px 95px 10px;
	margin:  auto;
	position: relative;
}


/* 2.4 Footer section for all pages */
.main-footer{
	background-color: #000;
	color: var(--light-grey);
	width: 100%;
	display: flex;
	flex-direction: column;	
}

.bottom-footer
{
	width: 980px;
	padding: 10px;
	margin: auto;
}

.bottom-footer{
	display: inherit;
	flex-direction: row;
	justify-content: center;
}

/* 
3. Navigation
*/

/*
** 3.1 main nav
*/
.main-nav{
	width: 980px;
	padding: 10px;
	flex-basis: 80%;
	display: block;
	font-size: 0.9em;
}

.main-nav li{
	display: inline-block;
	list-style-type: none;
	position: relative;
}
.main-nav a{
	text-decoration: none;
	color: var(--light-pink);
	padding: 5px 10px;
}

.main-nav a:hover{
	color: var(--light-grey);
}
.main-nav li ul{
	position: absolute;
	left: 0px;
	background-color: var(--main);
	top: 30px;
	padding-bottom: 5px;
	display: none;
}
.main-nav li li{
	margin-left: -35px;
}

.main-nav .notifs{
	color: #f00;
	font-weight: bold;
}

.main-nav li:hover  ul{
	display: block;
}

/*
** 3.2 footer social nav
*/
.social-menu a{
	display: inline-flex;
	margin-left: 5px;
	text-decoration: none;
	color: var(--light-pink);
}

.social-menu a:hover{
	color: var(--light-grey);
}
/*
** 4. Responsiveness
** 4.1. tablets and medium screen devices
*/

@media only screen and (max-width:1000px){
	.main-wrapper,
	.bottom-footer{
		width: 95%;
		margin: auto;
	}

	
}

/*
** 4.2 mobile phones
*/

@media only screen and (max-width: 768px){
	.app-title{
		font-size: 1.6em;
	}
	.nav-icon{
		font-size: 2em;
		align-self: center;
	}
}

/*
** 4.3 devices with smaller screens
*/
@media only screen and (max-width: 640px){
	h1{
		font-size: 1.5em;
	}
	.tasks-table {
		font-size: 0.8em;
	}
	.nav-text{
		display: none;
	}
	.main-nav{
		flex-basis: 70%;
	}
	.top-header{
		flex-basis: 30%;
	}

	.main-nav ul li ul li{
		width: 100px;
		top: -4px;
	}
	.bottom-footer{
		flex-direction: column;
		text-align: center;
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 480px){
	.btn-text{
		display: none;
	}

	.app-title{
		font-size: 1em;
	}
	.main-nav a{
		margin:0px;
		padding: 8px;
	}

	.profile section.profile-group{
		/* truncates the existing two columns layout to single vertical layout on profile.html file */
		flex-basis: 95%;
		margin: auto;
	}

	.profile .profile-group input,
	.profile .profile-group textarea{
		width: 98%;
		padding: 1%;
	}

	.profile label.label{
		padding:  2px 4px;
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 320px){
	.top-footer,
	.bottom-footer{
		font-size: 0.6em;
	}

	.controls .ctrls{
		font-size: 0.7em;
		padding: 3px;
	}
	.text{
		display: none;
	}
	.top-header{
		flex-basis: 5%;
	}
	.top-header > img{
		width: 16px;
		height: 16px;
	}
	.main-nav{
		flex-basis: 95%;
	}

	.main-nav a{
		margin:0px;
		padding: 2px;
	}
}

/*
** 5. Miscellaneous 
styling for non-section elements and pseudo selectors
*/

.fa-heart{
	color: #f00;
	animation-name: pop-heart;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

@keyframes pop-heart{
	100%{
		transform: scale(1.5);
	}
}

/*
** profile.html styles
*/
.top-profile{
	border-bottom: 2px solid var(--main);
}
.grp:first-child{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.grp:first-child img{
	width: 40px;
	height: 40px;
	border: 2px solid var(--main);
	border-radius: 50%;
	align-self: center;
	margin-right: 10px;
	font-size: 10px;
	text-align: center;
}
.profile{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 100%;
	margin: 10px auto;
}

.profile section{
	flex-basis: 50%;
}
.profile :disabled{
	background-color: var(--bg);
	opacity: 1;
	border: none;
}

.profile input,
.profile textarea{
	display: block;
	margin: 10px 0px;
	width: 80%;
	padding: 1%;
	font-size: 1em;
	color: var(--main);
}
.profile textarea:disabled{
	overflow-y: hidden;
}

.profile textarea{
	resize: none;
}

.profile input[type="radio"]{
	display: inline-block;
	width: auto;
}

.profile input[type="radio"] + label{
	font-size: 1em;
	color: var(--main);
}
.profile .label{
	background: var(--main);
	color: var(--light-pink);
	padding: 5px 10px;
	border-radius: 15px 0px 15px 0px;
}
.top-profile button,
.profile input[type="submit"],
.profile button{
	background-color: var(--main);
	padding: 5px 15px;
	color: var(--light-grey);
	border: none;
	box-shadow: 2px 2px 3px #000;
	font-weight: bold;
}

.top-profile button:hover,
.profile input[type="submit"]:hover,
.profile button:hover{
	background-color: var(--light-grey);
	color: var(--main);
	cursor: pointer;
}

button#save-edit{
	margin-top: 15px;
}
.label{
	margin-top: 5px;
	display: inline-block;
}

/*
** charts.html
*/
.reports{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.report-card{
	width: 45%;
	min-height: 300px;
	max-height: 400px;
	margin-bottom: 20px;
	border: 2px solid var(--main);
	position: relative;
}

.report-card h2{
	margin: 0px;
	background-color: var(--main);
	color: var(--light-grey);
	padding: 10px 0px;
	text-align: center;
}

.task-view{
	position: absolute;
	bottom: 0px;
	background: var(--main);
	color: var(--light-grey);
	padding: 5px 15px;
	border: none;
	box-shadow: 2px 2px 3px var(--main);
}
.task-view:hover{
	cursor: pointer;
	background-color: var(--light-grey);
	color: var(--main);
}

@media only screen and (max-width: 640px){
	/* responsiveness for charts' containers */
	.report-card{
		width: 95%;
		margin: 20px auto;
	}
}
/*login.html styles */
.log-sign-form{
	width: 460px;
	margin: 20px auto;
	background-color: var(--main);
	color: var(--light-grey);
	padding: 10px;
	box-shadow: 3px 3px 5px var(--main);
}
@media only screen and (max-width: 480px){
	.log-sign-form{
		width: 95%;
		padding: 2.5%;
	}
}
.log-sign-form header{
	color: var(--light-pink);
	padding: 15px 10px;
	text-align: center;
	text-shadow: 2px 2px 3px #000;
	font-size: 1.5em;
	font-weight: bold;
}

.log-sign-form label{
	font-weight: bold;
}

.log-sign-form .inp-group{
	margin-bottom: 10px;
	background-color: #F4A0FA43;
	border-radius: 5px;
	width: 98%;
	padding: 1%;
	color: var(--main);
}

.inp-group .fas{
	width: 5%;
	display: inline-block;
}
.inp-group input,
.inp-group textarea{
	width: 92%;
	background-color:  transparent;
	border: none;
}
.inp-group textarea{
	height: 80px;
	vertical-align: top;
	font-family: "Roboto", Arial, Serif;
	font-weight: normal;
	overflow: hidden;
	resize: none;
}
.inp-group input:invalid{
	border: none;
}

#login-submit,
#signup-submit{
	width: 100%;
	padding: 10px 0px;
	background-color: #F4A0FA88;
	color: var(--main);
	font-size: 1.2em;
	font-weight: bold;
	border: none;
	box-shadow: 2px 2px 3px #F4A0FA inset;
}

#login-submit:hover,
#signup-submit:hover{
	background-color: var(--main);
	color: var(--light-grey);
	cursor: pointer;
}

input#female,
input#male{
	width: auto;
	display: inline-block;
}

.login-form label .fas{
	width: auto;
}

.log-sign-form label{
	margin-right: 15px;
}
.log-sign-form label:hover{
	cursor: pointer;
}

/* login and sign up forms */
input[name="tabs"]{
	display: none;
}

.tabs-label{
	background: #F4A0FA22;
	padding: 10px 15px;
	box-shadow: 2px 2px 3px #000;

}
input[name="tabs"]:checked + .tabs-label{
	background: var(--main);
	padding: 10px 15px;
	box-shadow: 2px 2px 3px #aaa inset;	
}

/* hide or show  form based on which input is checked */
.form-class{
	display: none; /* initially hide both forms */
}
#login-tab:checked ~ #login-form{
	display: block;
}
#signup-tab:checked ~ #signup-form{
	display: block;
}
